__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
*.env
*.egg-info/
dist/
build/
.eggs/
*.log
.DS_Store
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.cache/
*.sqlite3
*.db
*.bak
*.swp
.idea/
.vscode/
*.coverage
.coverage.*
htmlcov/
*.spec
*.pot
*.mo
*.po
*.orig
*.rej
*.swo
*.swn
*.tmp
*.out
*.old
*.gz
*.zip
*.tar
*.tgz
*.bz2
*.xz
*.7z
node_modules/
npm-debug.log
yarn-error.log
test-results/
.venv/